<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>ACESSABER</title>
     <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary container">
        <div class="container">
            <a class="navbar-brand" href="/">Acessaber</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/participar">Participar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sobre">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/contatos" aria-current="page">Contato</a>
                </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Procure aqui.." aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>
    <main class="container">
        <div class="row">
            <div class="col-6 mx-auto">
                <img src="img/contactus.svg" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <h2 id="FaleConosco">Fale conosco</h2>
            </div>
        </div>
        
        <form method="POST"  th:action="@{/contato}">
            <div class="container-fluid justify-content-center container-md">
                <div class="row container-lg contato justify-content-center">
                    <div class="col-6 mt-3 col-md-4">
                        <input type="text" class="form-control" name="nome"  id="nome" placeholder="Nome" aria-label="Nome" required>
                    </div>
                    <div class="col-6 mt-3 col-md-4">
                        <input type="text" class="form-control" name="sobrenome" placeholder="Sobrenome" aria-label="Sobrenome" required>
                    </div>
                    <div class="col-12 mt-3 col-md-8">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email" aria-label="Email" required>
                    </div>
                    <div class="col-12 mt-3 col-md-8">
                        <input type="text" class="form-control" name="assunto" placeholder="Assunto:" aria-label="Assunto" required>
                    </div>
                    <div class="col-12 mt-3 col-md-8 ">
                        <textarea name="mensagem" id="" cols="30" rows="10"> Mensagem</textarea>
                    </div>
                    <div class="col-4 mt-3 mb-5 col-md-5">
                        <input type="submit" class="form-control" placeholder="Enviar" aria-label="enviar" id="enviar">
                    </div>
                </div>
            </div>
        </form>
    </main>

    <hr>

    <footer class="text-center">
      <p>Acessaber | Todos os direitos reservados</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>